body{
	margin:auto;
	background-color: rgb(246,246,244); 
}

.menu ul{
	list-style-position: inside;
	list-style-type: disc;
	padding: 0px 0px 0px 20px;
	color:#666666;
}
.menu ul li{
	padding-top: 5px;
	color:#666666;
}
.menu ul li a{
	text-decoration:none;
	padding: 0px;
	text-transform: uppercase;
}
.menu ul li a:hover{
	text-decoration:underline;
	text-transform: uppercase;
}

.wrap img{
	margin-left: 250px;

}

.wrap{
	background:url(../images/bg-header.jpg);
	height:104px;
	padding-top: 20px;
}

.wrap p{
	font-size: 25px;
	margin-right: 20px;
	font-family: "Comic Sans MS";
}
.menucontent ul{
	background:url(../images/bg-nav-selected.png) repeat-x;
	margin-right: 1155px;
	margin-top: 1px;
}

.content{
    position: absolute;
    right: 500px;
    margin-top: -100px;
		}

		.content table tr td{
	height: 40px;
}


